<!DOCTYPE html>
<html lang="ar" dir="rtl" id="lang-html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="شركة دبلن الماسية من الشركات الرائدة في مجال الديكور الداخلي وتصميم البوثات والاستندات وتصنيع الأثاث وفق أعلى معايير الجودة.">
    <meta name="author" content="شركة دبلن الماسية">
    <meta name="keywords" content="شركة دبلن الماسية, ديكور داخلي, تصميم البوثات, استندات, تصنيع الأثاث, Dublin Al-Maseya, furniture, booth, stands, interior design, wood">
    <meta name="google-site-verification" content="3Vl9VtgC499VQLysk4Y_CE2O16DBL-uJrsTKlKk2E7M" />
    <link rel="icon" type="~/image/png" sizes="32x32" href="~/imgs/logo.png">
    <link rel="icon" type="~/image/png" sizes="192x192" href="~/imgs/logo.png">
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <title>شركة دبلن الماسية | للديكور وتصميم البوثات والأثاث</title>
</head>
<body class="bg-dark" data-bs-spy="scroll" data-bs-target="#navbarNav" data-bs-offset="100" tabindex="0">
    <div id="root">
        <!-- Header Section -->
        <header class="header">
            <div class="container-fluid container-lg">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand d-flex align-items-center" href="#">
                            <span class="logo-icon">
                                <img src="~/imgs/logo.png" alt="Dublin Al-Maseya Logo" loading="lazy">
                            </span>
                            <span class="logo-text" data-en="DUBLIN AL-MASEYA" data-ar="دبلن الماسية">دبلن الماسية</span>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav m-auto d-flex justify-content-center align-items-center gap-5">
                                <li class="nav-item">
                                    <a class="nav-link active" href="/home" data-en="Home" data-ar="الرئيسية">الرئيسية</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/home/#about" data-en="About Us" data-ar="من نحن ؟">من نحن ؟</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/home/#services" data-en="Services" data-ar="خدماتنا">خدماتنا</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/home/#projects" data-en="Projects" data-ar="أعمالنا">أعمالنا</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/home/blog" data-en="blog" data-ar="المدونة">المدونة</a>
                                </li>
                            </ul>

                            <div class="d-flex gap-2 justify-content-center mt-4 mt-lg-0">
                                <a href="#contact" class="btn btn-outline-light" data-en="Get In Touch" data-ar="تواصل معنا">تواصل معنا</a>
                                <div class="language-switcher">
                                    <select id="language-select" class="form-select">
                                        <option value="ar">العربية</option>
                                        <option value="en">English</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        @RenderBody()
    </div>

    <footer class="bg-dark text-white py-4 mt-5">
        <div class="container">
            <div class="row justify-content-between g-4">
                <div class="col-md-6">
                    <h4 class="fw-bold text-black" data-ar="دبلن الماسية" data-en="Dublin_almasya">دبلن الماسيه</h4>
                    <p data-ar="تعد واحدة من الشركات الرائدة في مجال الديكور الداخلي وتصميم البوثات والاستندات، فضلاً عن تصنيع الأثاث وفق أعلى معايير الجوده" data-en="It is one of the leading companies in the field of interior decoration, booth and stand design, as well as manufacturing furniture according to the highest quality standards.">
                        تعد واحدة من الشركات الرائدة في مجال الديكور الداخلي وتصميم البوثات والاستندات، فضلاً عن تصنيع الأثاث وفق أعلى معايير الجودة
                    </p>
                </div>

                <div class="col-md-6">
                    <h5 class="fw-bold mb-4 me-5" data-ar="تواصل معنا" data-en="contact with us">تواصل معنا</h5>
                    <ul class="list-unstyled d-flex flex-column gap-4">
                        <li class="mb-2"><i class="fa-solid fa-phone-volume"></i> <span class="mx-1">+96550536616</span></li>
                        <li><i class="fa-solid fa-envelope"></i> <span class="mx-1">dublin.almasya@gmail.com</span></li>
                        <li><i class="fa-brands fa-whatsapp"></i> <span class="mx-1">96541004277</span></li>
                    </ul>
                </div>
            </div>
            <div class="d-flex flex-column mt-4 align-items-center border-top border-white border-opacity-25 pt-4">
                <div>
                    <p data-ar="جميع الحقوق محفوظة 2025 دبلن الماسية &copy;" data-en="© 2025 dublin_almasya. All Rights Reserved.">
                        جميع الحقوق محفوظة 2025 دبلن الماسية &copy;.
                    </p>
                </div>

                <div>
                    <h6 class="text-center" data-en="Design and programming by" data-ar="تصميم وبرمجه">تصميم وبرمجه </h6>
                    <a href="https://www.facebook.com/profile.php?id=100090592885243&mibextid=ZbWKwL" target="_blank">
                        <img src="~/imgs/GMT.png" alt="GMT logo" class="img-fluid GMT">
                    </a>
                </div>
                <div>
                    <a data-en="Contact Us" data-ar="تواصل معنا" href="https://www.facebook.com/profile.php?id=100090592885243&mibextid=ZbWKwL" target="_blank">
                        تواصل معنا
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>

@await RenderSectionAsync("Scripts", required: false)
