   <!-- Hero Section -->
<section class="hero content" id="home">
    <div class="container text-center" data-aos="zoom-in" data-aos-delay="100">
        <h1 class="display-3 fw-bold mb-5">
            <span class="d-block line line-1" data-en="From Idea And Design" data-ar="من الفكرة والتصميم إلى"> من الفكره والتصميم إلى</span>
            <span class="d-block line line-2" data-en="To Tangible Reality" data-ar=" واقع ملموس">  واقع ملموس</span>
        </h1>

        <div class="d-flex justify-content-center gap-3">
            <a href="#services" class="btn bg-transparent text-white border border-white btn-lg" data-en="Services" data-ar="خدماتنا">خدماتنا <span class="arrow">→</span></a>
            <a href="#projects" class="btn btn-primary btn-lg" data-en="Projects" data-ar="تصفح الان">تصفح الان <span class="arrow">→</span></a>
        </div>
    </div>

    <!-- Wave Animation -->
    <div class="wave-container">
        <div class="wave"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
    </div>
</section>

<!-- About Us -->
<section class="about-us padding" id="about">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-6" data-aos="fade-up">
                <div class="content p-1">
                    <h2 data-ar="من نحن ؟" data-en="About Us">من نحن ؟</h2>
                    <p data-ar="شركة دبلن الماسية تعد واحدة من الشركات الرائدة في مجال الديكور الداخلي وتصميم البوثات والاستندات وتجهيز المتاجر، فضلاً عن تصنيع الأثاث وفق أعلى معايير الجودة. نحن لا نقتصر فقط على تقديم حلول تصميمية مبتكرة، بل نضمن أيضًا تحويل كل فكرة او تصميم إلى واقع ملموس بكل دقة واحترافية، مهما كان حجمه أو تعقيده. فريقنا المتخصص يسعى دائمًا لتقديم أفضل الحلول التي تتناسب مع احتياجات عملائنا، مع الحفاظ على التوازن بين التصميم العصري والأسعار التنافسية. نحن نؤمن أن النجاح يعتمد على جودة العمل والالتزام بالمواعيد، لذلك نلتزم بتقديم خدمات متميزة تضمن لنا سمعة طيبة في السوق، مما يجعلنا الخيار الأمثل للمشاريع التي تتطلب التميز والابتكار." data-en="DUBLIN AL-MASEYA is a leading company in the field of interior decoration, booth , stand design and Store fit-out, as well as furniture manufacturing to the highest quality standards. We don't just provide innovative design solutions; we also ensure that every project is brought to life with precision and professionalism, regardless of its size or complexity. Our specialized team always strives to provide the best solutions that suit our clients' needs, while maintaining a balance between modern design and competitive pricing. We believe that success depends on the quality of our work and adherence to deadlines. Therefore, we are committed to providing distinguished services that guarantee our reputation in the market, making us the ideal choice for projects that require excellence and innovation.">شركة دبلن الماسية تعد واحدة من الشركات الرائدة في مجال الديكور الداخلي وتصميم البوثات والاستندات وتجهيز المتاجر، فضلاً عن تصنيع الأثاث وفق أعلى معايير الجودة. نحن لا نقتصر فقط على تقديم حلول تصميمية مبتكرة، بل نضمن أيضًا تحويل كل فكره او تصميم إلى واقع ملموس بكل دقة واحترافية، مهما كان حجمه أو تعقيده. فريقنا المتخصص يسعى دائمًا لتقديم أفضل الحلول التي تتناسب مع احتياجات عملائنا، مع الحفاظ على التوازن بين التصميم العصري والأسعار التنافسية. نحن نؤمن أن النجاح يعتمد على جودة العمل والالتزام بالمواعيد، لذلك نلتزم بتقديم خدمات متميزة تضمن لنا سمعة طيبة في السوق، مما يجعلنا الخيار الأمثل للمشاريع التي تتطلب التميز والابتكار.</p>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up">
                <div class="img-container">
                    <div class="shape"></div>
                    <div class="img">
                        <img class="w-100 object-fit-cover rounded-4" src="~/imgs/img81.jpg" alt="about us" loading="lazy">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="mission">
    <div class="container">
        <div class="row g-4 justify-content-center align-items-center">
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="inner">
                    <h2 data-ar="رؤيتنا" data-en="Our Vision">رؤيتنا</h2>
                    <p data-ar="أن نصبح الخيار الأول والاسم الأبرز في تصميم وتنفيذ الديكورات الداخلية والبوثات والمعارض في المنطقة، من خلال تقديم حلول متكاملة تتميز بالجودة العالية والابتكار. نسعى إلى تحقيق ذلك عبر تطوير مستمر في أساليب العمل، والاستفادة من أحدث التقنيات والمواد، لتقديم نتائج تفوق توقعات عملائنا. نؤمن بأن الريادة لا تتحقق إلا بالتميز في التفاصيل والالتزام بالجودة في كل مرحلة من مراحل التنفيذ. ومن هذا المنطلق، نكرس خبراتنا ومواردنا لتحقيق رؤيتنا وتقديم مشاريع تليق بثقة عملائنا وتطلعاتهم." data-en="To become the premier choice and leading name in the design, interior decoration and execution of booths and exhibitions in the region, by providing integrated solutions characterized by high quality and innovation. We strive to achieve this through continuous development of our work methods and utilizing the latest technologies and materials to deliver results that exceed our clients' expectations. We believe that leadership can only be achieved through excellence in detail and a commitment to quality at every stage of implementation. From this perspective, we dedicate our expertise and resources to realizing our vision and delivering projects worthy of our clients' trust and aspirations.">
                        أن نصبح الخيار الأول والاسم الأبرز في تصميم وتنفيذ الديكورات الداخليه والبوثات والمعارض في المنطقة، من خلال تقديم حلول متكاملة تتميز بالجودة العالية والابتكار. نسعى إلى تحقيق ذلك عبر تطوير مستمر في أساليب العمل، والاستفادة من أحدث التقنيات والمواد، لتقديم نتائج تفوق توقعات عملائنا. نؤمن بأن الريادة لا تتحقق إلا بالتميز في التفاصيل والالتزام بالجودة في كل مرحلة من مراحل التنفيذ. ومن هذا المنطلق، نكرس خبراتنا ومواردنا لتحقيق رؤيتنا وتقديم مشاريع تليق بثقة عملائنا وتطلعاتهم.
                    </p>
                </div>
            </div>
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="inner inner-img">
                    <div class="img">
                        <img class="w-100 object-fit-cover" src="~/imgs/img116.jpg" alt="our mission" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="inner pe-3">
                    <h2 data-ar="مهمتنا" data-en="Our Mission">مهمتنا</h2>
                    <p data-ar=" تقديم خدمات تصميم وتنفيذ مبتكرة ترتقي بأعلى مستويات الاحترافية والدقة في التنفيذ، مع الالتزام التام بمواعيد التسليم وجودة العمل. نحن نؤمن بأن كل مشروع يمثل شراكة حقيقية مع العميل، ونسعى من خلاله إلى تحقيق رؤية مشتركة تتحول إلى واقع ملموس يعبّر عن التميز والتفرد. كما نحرص على بناء علاقات طويلة الأمد مع عملائنا، تقوم على الثقة المتبادلة والشفافية والاهتمام بأدق التفاصيل. هدفنا الدائم هو أن نكون الشريك المفضل لكل من يبحث عن الجودة والابتكار في عالم التصميم والتنفيذ" data-en="Providing innovative design and implementation services that meet the highest levels of professionalism and precision, while adhering to deadlines and quality of work. We believe that each project represents a true partnership with the client, through which we strive to realize a shared vision that becomes a tangible reality that expresses excellence and uniqueness. We also strive to build long-term relationships with our clients, based on mutual trust, transparency, and attention to the smallest details. Our enduring goal is to be the preferred partner for everyone seeking quality and innovation in the world of design and implementation.">
                        تقديم خدمات تصميم وتنفيذ مبتكرة ترتقي بأعلى مستويات الاحترافية والدقة في التنفيذ، مع الالتزام التام بمواعيد التسليم وجودة العمل. نحن نؤمن بأن كل مشروع يمثل شراكة حقيقية مع العميل، ونسعى من خلاله إلى تحقيق رؤية مشتركة تتحول إلى واقع ملموس يعبّر عن التميز والتفرد. كما نحرص على بناء علاقات طويلة الأمد مع عملائنا، تقوم على الثقة المتبادلة والشفافية والاهتمام بأدق التفاصيل. هدفنا الدائم هو أن نكون الشريك المفضل لكل من يبحث عن الجودة والابتكار في عالم التصميم والتنفيذ
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services -->
<section class="services text-center" id="services">
    <div class="container">
        <h2 class="text-center mb-5" data-en="Our Services" data-ar="خدماتنا">خدماتنا</h2>
        <div class="row g-4">
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="400">
                <div class="card p-5 h-100 d-flex flex-column justify-content-center align-items-center gap-3">
                    <div class="icon mb-2">
                        <i class="fa-solid fa-eye"></i>
                    </div>
                    <h3 data-ar="الاهتمام بالتفاصيل" data-en="Attention To Details">الاهتمام بالتفاصيل</h3>
                    <p data-ar="نؤمن ان التفاصيل الصغيره تصنع الفارق " data-en="We believe that small details make a big difference">نؤمن ان التفاصيل الصغيره تصنع الفارق </p>
                </div>
            </div>
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="400">
                <div class="card p-5 d-flex flex-column justify-content-center align-items-center gap-3">
                    <div class="icon mb-2">
                        <i class="fa-solid fa-medal flip-icon"></i>
                    </div>
                    <h3 data-ar="جودة لا مثيل لها" data-en="Unparalleled quality">
                        جودة لا مثيل لها
                    </h3>
                    <p data-ar="جميع منتجاتنا مصنوعه من اجود المواد التى تضمن المتانه والجمال" data-en="All our products are made from the finest materials that ensure durability and beauty">جميع منتجاتنا مصنوعه من اجود المواد التى تضمن المتانه والجمال</p>
                </div>
            </div>
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="400">
                <div class="card p-5 d-flex flex-column justify-content-center align-items-center gap-3">
                    <div class="icon mb-2">
                        <i class="fa-solid fa-wand-magic-sparkles"></i>
                    </div>
                    <h3 data-ar=" الابداع" data-en="Creativity">
                        الابداع
                    </h3>
                    <p data-ar=" نقدم منتجات بأذواق متنوعه تناسب الانماط الكلاسيكيه والعصريه" data-en="We offer products in a variety of tastes that suit both classic and modern styles">
                        نقدم منتجات بأذواق متنوعه تناسب الانماط الكلاسيكيه والعصريه
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Projects -->
<section class="projects" id="projects">
    <div class="container py-5">
        <h2 data-en="Our Projects" data-ar="اعمالنا" class="text-center mb-5 text-dark">اعمالنا</h2>
        <div class="row g-4" id="projectsContainer" data-aos="fade-up" data-aos-delay="100"></div>
        <div class="text-center">
            <button class="btn btn-primary mt-5 mt-lg-0" id="showMoreBtn" data-en="Show More" data-ar="اعرض المزيد">اعرض المزيد</button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="projectModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div id="projectCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" id="carouselInner"></div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#projectCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#projectCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>     <!-- Contact Section -->
        <section class="contact py-5 bg-white" id="contact">
  <div class="container">
    <div class="text-center">
      <h2 class="h2-style fw-semibold mb-3 text-dark section-title" data-ar="تواصل معنا الان" data-en="contact">تواصل معنا الان</h2>
      <p class="mb-5 text-muted" data-ar="يسعدنا أن نسمع منك! لا تتردد في التواصل معنا" data-en="We'd love to hear from you! feel free to reach out">يسعدنا أن نسمع منك! لا تتردد في التواصل معنا</p>
    </div>

    <div class="row g-4 box d-flex g-4 pb-3 my-4 container mx-auto">
      <div class="col-12 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
        <div class="inner d-flex gap-3  align-items-center">
          <div class="icon d-flex justify-content-center align-items-center flex-shrink-0">
            <i class="fa-solid fa-location-dot"></i>
          </div>
          <div class="content">
            <h3 class="fs-5 fw-semibold text-dark address">
              <a href="https://www.google.com/maps/place/29%C2%B022'24.6%22N+47%C2%B058'11.7%22E/29.3753491,47.9725375,16.19z/data=!4m4!3m3!8m2!3d29.3735!4d47.9699167?entry=ttu&amp;g_ep=EgoyMDI1MDUwNy4wIKXMDSoASAFQAw%3D%3D" target="_blank" data-ar="العاصمة-منطقة القبلة-قطعة 11- قسيمة 11- شارع علي السالم- مبني الشيخ عبد العزيز الصباح وعسلاء- ميزانين- مكتب 19" data-en="Capital - Qibla area - Block 11 - Plot 11 - Ali Al-Musallam Street - Sheikh Abdul Aziz Al-Sabah and Asla Building - First floor, mezzanine - Office 19">العاصمة-منطقة القبلة-قطعة 11- قسيمة 11- شارع علي السالم- مبني الشيخ عبد العزيز الصباح وعسلاء- الدور الاول ميزانين- مكتب 19</a>
            </h3>
          </div>
        </div>
      </div>
      <!-- Instagram -->
      <div class="col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
        <div class="inner d-flex gap-3 justify-content-lg-center align-items-center">
          <div class="icon d-flex justify-content-center align-items-center flex-shrink-0">
            <i class="fa-brands fa-instagram"></i>
          </div>
          <div class="content">
            <h3 class="fs-5 fw-semibold text-dark">
              <a href="https://www.instagram.com/dublin_almasya" target="_blank" data-en="Instagram" data-ar="إنستغرام">إنستغرام</a>
            </h3>
          </div>
        </div>
      </div>

      <!-- Call Us -->
      <div class="col-lg-3 aos-init" data-aos="fade-up" data-aos-delay="200">
        <div class="inner d-flex gap-3  justify-content-lg-center align-items-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-phone-volume"></i>
          </div>
          <div class="content">
            <h3 class="fs-5 fw-semibold text-dark">
              <a href="tel:+96550536616" data-en="Call Us" data-ar="اتصل بنا">اتصل بنا</a>
            </h3>
          </div>
        </div>
      </div>
      <!-- Email Us -->
      <div class="col-lg-3 aos-init" data-aos="fade-up" data-aos-delay="200">
        <div class="inner d-flex gap-3 justify-content-lg-center align-items-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-envelope"></i>
          </div>
          <div class="content">
            <h3 class="fs-5 fw-semibold text-dark">
              <a href="mailto:dublin.almasya@gmail.com" dir="ltr" data-en="Email Us" data-ar="عبر البريد الالكتروني">عبر البريد الالكتروني</a>
            </h3>
          </div>
        </div>
      </div>

      <!-- WhatsApp -->
      <div class="col-lg-3 aos-init" data-aos="fade-up" data-aos-delay="200">
        <div class="inner d-flex gap-3 justify-content-lg-center align-items-center">
          <div class="icon d-flex justify-content-center align-items-center">
            <i class="fa-brands fa-whatsapp"></i>
          </div>
          <div class="content">
            <h3 class="fs-5 fw-semibold text-dark">
              <a href="https://wa.me/96541004277" target="_blank" data-en="Whatsapp" data-ar="واتساب">واتساب</a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="cookie-consent" style="display: none;">
        <div class="card bg-dark text-white">
          <div class="card-body">
            <h5 class="mb-3" data-en="We use cookies!" data-ar="نحن نستخدم ملفات تعريف الارتباط">نحن نستخدم ملفات تعريف الارتباط</h5>
            <p class="text-white mb-4" data-en="This website uses essential Cookies to ensure its proper operation and tracking cookies to understand how you interact with it. The latter will be set only after consent." data-ar="يستخدم هذا الموقع ملفات تعريف ارتباط أساسية لضمان تشغيله بشكل صحيح، وملفات تعريف ارتباط للتتبع لفهم كيفية تفاعلك معه. ولن يتم ضبط هذه الملفات إلا بعد الموافقة.">يستخدم هذا الموقع ملفات تعريف ارتباط أساسية لضمان تشغيله بشكل صحيح، وملفات تعريف ارتباط للتتبع لفهم كيفية تفاعلك معه. ولن يتم ضبط هذه الملفات إلا بعد الموافقة.</p>
            <div class="d-flex gap-2">
              <button class="btn btn-primary" data-en="ACCEPT &amp; ENTER" data-ar="الموافقه">الموافقه</button>
              <button class="btn btn-outline-light" data-en="LEAVE" data-ar="المغادرة">المغادرة</button>
            </div>
          </div>
        </div>
      </div>